{% load staticfiles %}


<link href="{% static '/static/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />

 
<link href="{% static '/static/bower_componentss/bootstrap/fonts/glyphicons-halflings-regular.woff2' %}" rel="MIME" />
<link href="{% static '/static/bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff' %}" rel="MIME" />
<link href="{% static '/static/bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf' %}" rel="MIME" /> 


<link href="{% static '/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"  rel="stylesheet" />
<style>
body {
	min-height: 2000px;
	padding-top: 70px;
}
</style>
