{% extends 'base.html' %}
 <!-- needs to be below extends -->
{% load crispy_forms_tags %}

 <!-- Browser tab's title -->
{% block head_title %}Create Employee | {{ block.super }} {% endblock %}

{% block content %}
{% include 'datetime_js.html' %}
{% include 'dynamic-formset_js.html' %}

	<script type="text/javascript">
    <!--
    $(function () {

        $('#add_rqst_date_time').click(function() {
    	    return addForm(this, 'request_date_time');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'request_date_time');
        });

        $('#add_rqst_day_time').click(function() {
    	    return addForm(this, 'request_day_time');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'request_day_time');
        });

        $('#add_employee_type').click(function() {
    	    return addForm(this, 'employee_type');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'employee_type');
        });
    })
    //-->
    </script>
	<h2> Create Employee... </h2>
	
	<form name="EmployeeData" action="." method="POST">
		{% csrf_token %}

		{% include 'EmployeeContents.html' %}

        <input name="SaveAndDash" class="btn btn-success" type="submit" value="Create Employee and Return to Dashboard">
        <input name="SaveAndAnother" class="btn btn-success" type="submit" value="Create Employee and Add Another">
	</form>

{% endblock %}