
<script type="text/javascript">

    var date_time_args = {
                            format: 'YYYY-MM-DD HH:mm',
                            useStrict: true,
                            allowInputToggle: true,
                            ignoreReadonly: true,
                            sideBySide: true,
                            timeZone: null
                            };
    var date_args = {
                        format: 'YYYY-MM-DD',
                        useStrict: true,
                        allowInputToggle: true,
                        ignoreReadonly: true,
                        };

    var time_args = {
                        format: 'HH:mm',
                        useStrict: true,
                        allowInputToggle: true,
                        ignoreReadonly: true,
                        };

    $(function() {              
                   $('.datetime').datetimepicker(date_time_args)
                            .find('input')
                            .addClass("form-control");
                }); 

    $(function() {              
                   $('.date').datetimepicker(date_args)
                            .find('input')
                            .addClass("form-control");
                }); 

    $(function() {              
                   $('.time').datetimepicker(time_args)
                            .find('input')
                            .addClass("form-control");
                });  
</script>