{% extends 'base.html' %}
 <!-- needs to be below extends --> 
{% load crispy_forms_tags %}

 <!-- Browser tab's title -->
{% block head_title %}Edit Employee | {{ block.super }} {% endblock %}

{% block content %}

{% include 'datetime_js.html' %}
{% include 'dynamic-formset_js.html' %}

	<script type="text/javascript">
    <!--
    $(function () {

        $('#add_rqst_date_time').click(function() {
    	    return addForm(this, 'request_date_time');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'request_date_time');
        });

        $('#add_rqst_day_time').click(function() {
    	    return addForm(this, 'request_day_time');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'request_day_time');
        });

        $('#add_employee_type').click(function() {
    	    return addForm(this, 'employee_type');
        });

        $('.delete-row').click(function() {
    	    return deleteForm(this, 'employee_type');
        });
    })
    //-->
    </script>

	<h2> Editing {{IdentifiedEmployee.name_normal_id}} </h2>

	<form name="EmployeeData" action="." method="POST">
		{% csrf_token %}

		{% include 'EmployeeContents.html' %}

        <input name="SaveAndDashboard" class="btn btn-success" type="submit" value="Save and return to Dashboard">
        <input name="SaveAndEmployeeList" class="btn btn-success" type="submit" value="Save and return to Employee List">

	</form>

{% endblock %}
<!-- {{ form.field|as_crispy_field }} -->

