{% extends 'base.html' %}
 <!-- needs to be below extends --> 
{% load crispy_forms_tags %}

 <!-- Browser tab's title -->
{% block head_title %}Edit Employee | {{ block.super }} {% endblock %}

{% block content %}

{% include 'datetime_js.html' %}

	<h2> Editing {{IdentifiedEmployee.name_normal_id}} </h2>

	<form name="EmployeeData" action="." method="POST">
		{% csrf_token %}

		<div class="panel-body">

			<div class="panel-group">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="#collapse1">General Work Information</a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse">
			      <div class="panel-body">
					{{ EmployeeInfoForm|crispy }}
	    		  </div>
			    </div>
			  </div>
			</div>

			<div class="panel-group">
				 <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#collapse2">Typical Day Requests</a>
				      </h4>
				    </div>
				    <div id="collapse2" class="panel-collapse collapse">
				      <div class="panel-body" id = "id_forms_table">
 						{% crispy EmployeeRequestDayTimeFormSet EmployeeRequestDayTimeFormSet.form.helper %}
		    		  </div>
				    </div>
				 </div>
			</div>

			<div class="panel-group">
				 <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#collapse3">Specific Date Requests</a>
				      </h4>
				    </div>
				    <div id="collapse3" class="panel-collapse collapse">
				      <div class="panel-body" id = "id_forms_table">
 						{% crispy EmployeeRequestDateTimeFormSet EmployeeRequestDateTimeFormSet.form.helper %}
		    		  </div>
				    </div>
				 </div>
			</div>

			<div class="panel-group">
				 <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#collapse4">Positions</a>
				      </h4>
				    </div>
				    <div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body" id = "id_forms_table">
				    		<div class="col-lg-6">
		 						{% crispy EmployeeEmployeeTypeFormSet EmployeeEmployeeTypeFormSet.form.helper %}
				    		</div>
				    	</div>
			    		<div class='col-lg-6'></div>
				    </div>
				 </div>
			</div>

		</div>

        <input name="SaveEdits" class="btn btn-success" type="submit" value="Save edits">

	</form>

{% endblock %}
<!-- {{ form.field|as_crispy_field }} -->

